[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
tox-pyenv = "*"

[packages]
gspread = "*"
oauth2client = "*"

[requires]
python_version = "3.7"
